PidFile=/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0

Server={{ host_zabbix_server }},127.0.0.1
ServerActive={{ host_zabbix_server }}

Hostname={{ hostname }}
HostMetadata={{ host_metadata }}
Include=/etc/zabbix/zabbix_agentd.d/*.conf

{% if active_psk_connection %}
TLSConnect=psk
TLSAccept=unencrypted,psk
TLSPSKIdentity={{ psk_identity }}
TLSPSKFile={{ zabbix_ssl_directory }}/zabbix_psk
{% endif %}
